* {
  border: 0;
}

body {
  width: 98%;
  margin: 1% ;
  padding: 0;
  height: auto;
  line-height: 23px;
  font-size: 16px;
  text-align: center;
}

.header p {
  padding: 0;
  margin: 0;
}

.container {
  width: 100%;
}

.row,
.row1 {
  padding: 0;
  margin-top: 8px;
  width: 100%;
  text-align: left;
}

.header {
  background-color: #558ed5;
  width: 96%;
  margin-left: 2%;
}

.section0 {
  background-color: #c4bd97;
  margin-top: 8px;
  width: 96%;
  margin-left: 2%;
}

.section1 {
  background-color: #c6d9f1;
  width: 22.25%;
  margin-left: 2%;
  display: inline-block;
  vertical-align: top;
}

.section2 {
  background-color: #e4b7b7;
  width: 22.25%;
  margin-left: 2%;
  display: inline-block;
  vertical-align: top;
}

.section3 {
  background-color: #c3d69b;
  width: 22.25%;
  margin-left: 2%;
  display: inline-block;
  vertical-align: top;
}

.section4 {
  background-color: #fac090;
  width: 22.25%;
  margin-left: 2%;
  display: inline-block;
  vertical-align: top;
}

.section5 {
  background-color: #00b0f0;
  width: 46.9%;
  margin-left: 2%;
  display: inline-block;
  vertical-align: top;
  margin-top: 8px;
}

.section6 {
  background-color: #00b0f0;
  width: 46.9%;
  margin-left: 2%;
  display: inline-block;
  vertical-align: top;
  margin-top: 8px;
}

.footer {
  background-color: #b3a2c7;
  margin-top: 8px;
  width: 96%;
  margin-left: 2%;
}

@media (min-width: 700px) and (max-width: 1200px) {
  .section1 {
    width: 46.5%;
    margin-left: 2%;
    margin-top: 0;
  }

  .section2 {
    width: 46.5%;
    margin-left: 2.5%;
  }

  .section3 {
    width: 46.5%;
    margin-left: 2%;
    margin-top: 8px;
  }

  .section4 {
    width: 46.5%;
    margin-left: 2.5%;
    margin-top: 8px;
  }

  .section5 {
    display: block;
    width: 96%;
  }

  .section6 {
    margin-top: 1%;
    display: block;
    width: 96%;
  }
}

@media (max-width: 700px) {

  .footer,
  .header,
  .section0 {
    width: 100%;
    display: block;
    margin-top: 8px;
  }

  .section1 {
    display: block;
    width: 100%;
    margin-top: 8px;
  }

  .section2 {
    display: block;
    width: 100%;
    margin-top: 8px;
  }

  .section3 {
    display: block;
    width: 100%;
    margin-top: 8px;
  }

  .section4 {
    display: block;
    width: auto;
    width: 100%;
    margin-top: 8px;
  }

  .section5 {
    display: block;
    width: 100%;
    margin-top: 8px;
  }

  .section6 {
    display: block;
    width: 100%;
    margin-top: 8px;
  }
}